*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monserrat

}
body {
    background: rgb(115, 212, 230);
}


.container{
    background: #f5f5f5;
    max-width: 650px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0,3);
}
 
.header {
    text-align: center;
}

.header h1 {
    margin-bottom: 10px;
}

.header h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.img-area {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove deepskyblue;
    
}

.img-area img {
    width: 100%;
}

.left {
    flex: 1;
    padding: 30 px;
}

.left ul li{
    line-height: 2;
}

h2{
    background: #00b6c4;
    padding: 15px;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
}