body {
    background-color: rgb(243, 177, 243);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;;
}
.cadre{
    border: 2px;
    padding: 25px;
    margin-left:10px;
    border-radius: 20px;
    background-color: rgb(228, 214, 228); 
    margin-bottom: 20px;
    width: 800px;
}
.container{
    width: 70%;
    display:flex;
    align-items:flex-start;
    gap:20px;

     }
.container .img{
    width:150px;
}

.photo{
    margin-left:ss40px;
    height:auto;
    border-radius:50px;
}
img{
    border: 50px;
}

    
    
    